In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_pickle("../Data/Pickle/FINRA_TRACE_2014.pkl.zip",compression='zip')

In [3]:
data.columns

Index(['BOND_SYM_ID', 'CUSIP_ID', 'SCRTY_TYPE_CD', 'ENTRD_VOL_QT', 'RPTD_PR',
       'RPT_SIDE_CD', 'Year', 'document_date', 'TRD_EXCTN_DTTM',
       'TRD_RPT_DTTM', 'Report_Dealer_Index', 'Contra_Party_Index', 'TRC_ST',
       'RATING_MR', 'RATING_MR_Numeric', 'OFFERING_DATE', 'ISSUE_ID',
       'MATURITY', 'OFFERING_AMT', 'AMOUNT_OUTSTANDING', 'Vol_grt_out'],
      dtype='object')

In [4]:
#data.tail().to_csv('sample.csv')

In [5]:
data.head()

,BOND_SYM_ID,CUSIP_ID,SCRTY_TYPE_CD,ENTRD_VOL_QT,RPTD_PR,RPT_SIDE_CD,Year,document_date,TRD_EXCTN_DTTM,TRD_RPT_DTTM,...,Contra_Party_Index,TRC_ST,RATING_MR,RATING_MR_Numeric,OFFERING_DATE,ISSUE_ID,MATURITY,OFFERING_AMT,AMOUNT_OUTSTANDING,Vol_grt_out
0,RBS3706239,00077TAA2,CORP,10000.0,111.245,D,2014.0,2014-01-31,2014-01-31 10:40:23,2014-01-31 10:40:37,...,2917,T,Ba1,11.0,1993-05-20,5.0,2023-05-15,250000.0,148386.0,0.0
1,RBS3706239,00077TAA2,CORP,2000.0,113.389,C,2014.0,2014-02-21,2014-02-21 11:19:41,2014-02-21 11:19:57,...,99999,T,Ba1,11.0,1993-05-20,5.0,2023-05-15,250000.0,148386.0,0.0
2,RBS3706239,00077TAA2,CORP,5000.0,112.070,C,2014.0,2014-01-24,2014-01-24 15:19:50,2014-01-24 15:20:18,...,99999,T,Ba1,11.0,1993-05-20,5.0,2023-05-15,250000.0,148386.0,0.0
3,RBS3706239,00077TAA2,CORP,2000.0,112.640,D,2014.0,2014-02-21,2014-02-21 11:19:41,2014-02-21 11:20:01,...,2514,T,Ba1,11.0,1993-05-20,5.0,2023-05-15,250000.0,148386.0,0.0
4,RBS3706239,00077TAA2,CORP,10000.0,112.245,D,2014.0,2014-01-16,2014-01-16 13:41:11,2014-01-16 13:41:27,...,2940,T,Ba1,11.0,1993-05-20,5.0,2023-05-15,250000.0,148386.0,0.0

In [6]:
data['trade_outof_AMOUNT_OUTSTANDING'] = ((data['ENTRD_VOL_QT']) / (data['AMOUNT_OUTSTANDING'] * 1000))

In [7]:
data['trade_outof_AMOUNT_OUTSTANDING'].describe()

count    6.323262e+06
mean     9.216285e-04
std      7.127916e-03
min      2.203717e-10
25%      1.649549e-05
50%      5.384841e-05
75%      3.142857e-04
max      1.000000e+00
Name: trade_outof_AMOUNT_OUTSTANDING, dtype: float64

In [11]:
data['weight'] = (data['ENTRD_VOL_QT'] * data['RPTD_PR'] / 100) * data['trade_outof_AMOUNT_OUTSTANDING']

In [19]:
(data['trade_outof_AMOUNT_OUTSTANDING'] * 100000).describe()

count    6.323262e+06
mean     9.216285e+01
std      7.127916e+02
min      2.203717e-05
25%      1.649549e+00
50%      5.384841e+00
75%      3.142857e+01
max      1.000000e+05
Name: trade_outof_AMOUNT_OUTSTANDING, dtype: float64

In [16]:
(data['weight'] > 10).sum()

2287143