In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_pickle('FINRA_TRACE_2015.pkl')

In [7]:
data.tail()

,N,TRC_ST,BOND_SYM_ID,CUSIP_ID,SCRTY_TYPE_CD,WIS_CD,CMSN_TRD_FL,ENTRD_VOL_QT,RPTD_PR,YLD_SIGN_CD,...,Maturity_d_Diff,Offer_d30,Offer_d60,Offer_d90,Mature_d90,YYYYQQ,RATING_MR,RATING_MR_Numeric,AMOUNT_OUTSTANDING,Vol_grt_out
6735443,74674195.0,T,PNC4269512,69353RES3,CORP,N,NaN,50000.0,101.820,NaN,...,1754.0,1.0,1.0,NaN,NaN,2015-12-31,NR,NaN,750000.0,0.0
6735444,74674227.0,T,PNC4269512,69353RES3,CORP,N,NaN,1000000.0,101.808,NaN,...,1735.0,1.0,1.0,1.0,NaN,2015-12-31,NR,NaN,750000.0,0.0
6735445,74674163.0,T,PNC4269512,69353RES3,CORP,N,NaN,28000.0,100.977,NaN,...,1763.0,1.0,1.0,NaN,NaN,2015-09-30,NR,NaN,750000.0,0.0
6735446,74674099.0,T,PNC4269512,69353RES3,CORP,N,NaN,500000.0,100.544,NaN,...,1785.0,1.0,NaN,NaN,NaN,2015-09-30,NR,NaN,750000.0,0.0
6735447,74674103.0,T,PNC4269512,69353RES3,CORP,N,NaN,10000.0,100.834,NaN,...,1784.0,1.0,NaN,NaN,NaN,2015-09-30,NR,NaN,750000.0,0.0

In [4]:
data.shape

(6735448, 59)

In [5]:
data['CUSIP_ID'].count()

6735448

In [6]:
data['BOND_SYM_ID'].count()

6735446