In [1]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

from pathlib import Path

In [2]:
root_folder = Path('../Data/')
file_name = 'f99999c0cc149c54.csv'
file_path = root_folder / file_name

field_of_interest = ['cusip_id', 'bond_sym_id', 'company_symbol', 'trd_exctn_dt',
       'trd_exctn_tm', 'trd_rpt_dt', 'trd_rpt_tm','entrd_vol_qt', 'rptd_pr',
       'rpt_side_cd', 'sell_cmsn_rt', 
        'cntra_mp_id', 'trdg_mkt_cd',
       'SUB_PRDCT', 'STLMNT_DT']

dtype={'cusip_id': str , 'bond_sym_id': str, 'company_symbol': str, 'cusip_id': str,
      'entrd_vol_qt' : np.int , 'rptd_pr' : np.float, 'rpt_side_cd':str, 'sell_cmsn_rt':np.float32,
      'cntra_mp_id':str, 'trdg_mkt_cd':str, 'SUB_PRDCT':str}

parse_dates = [['trd_exctn_dt','trd_exctn_tm'],['trd_rpt_dt','trd_rpt_tm'],'STLMNT_DT']

data = pd.read_csv(file_path,usecols=field_of_interest,parse_dates=parse_dates,
                   infer_datetime_format=True)

In [3]:
data.head(50)

,trd_exctn_dt_trd_exctn_tm,trd_rpt_dt_trd_rpt_tm,cusip_id,bond_sym_id,company_symbol,entrd_vol_qt,rptd_pr,rpt_side_cd,sell_cmsn_rt,cntra_mp_id,trdg_mkt_cd,SUB_PRDCT,STLMNT_DT
0,2014-12-08 16:23:40,2014-12-08 16:28:40,00138EAA2,.,NaN,1000000.0,99.942,S,0.0,C,S1,C,2014-12-15 00:00:00
1,2014-12-08 16:23:40,2014-12-08 17:25:25,00138EAA2,.,NaN,1000000.0,99.942,S,0.0,C,S1,C,2014-12-15 00:00:00
2,2014-12-08 16:23:40,2014-12-08 16:28:41,00138EAA2,.,NaN,1000000.0,99.942,B,0.0,C,S1,C,2014-12-15 00:00:00
3,2014-12-08 16:23:40,2014-12-08 17:25:28,00138EAA2,.,NaN,1000000.0,99.942,B,0.0,C,S1,C,2014-12-15 00:00:00
4,2014-12-08 15:55:31,2014-12-08 17:20:02,00138EAA2,.,NaN,4000000.0,99.965,S,0.0,C,S1,C,2014-12-15 00:00:00
5,2014-12-08 15:55:31,2014-12-08 17:20:26,00138EAA2,.,NaN,4000000.0,99.965,S,0.0,C,S1,C,2014-12-15 00:00:00
6,2014-12-08 15:55:31,2014-12-08 17:20:04,00138EAA2,.,NaN,4000000.0,99.965,B,0.0,C,S1,C,2014-12-15 00:00:00
7,2014-12-08 15:55:31,2014-12-08 17:20:28,00138EAA2,.,NaN,4000000.0,99.965,B,0.0,C,S1,C,2014-12-15 00:00:00
8,2014-12-04 17:39:20,2014-12-04 17:39:28,00258HAA9,.,NaN,620000.0,100.375,S,0.0,C,S1,C,2014-12-09 00:00:00
9,2014-12-04 17:39:20,2014-12-05 16:33:17,00258HAA9,.,NaN,620000.0,100.375,S,0.0,C,S1,C,2014-12-09 00:00:00
10,2014-12-04 17:40:01,2014-12-04 17:40:18,00258HAA9,.,NaN,1000000.0,100.000,B,0.0,C,S1,C,2014-12-09 00:00:00
11,2014-12-04 17:40:01,2014-12-05 16:25:18,00258HAA9,.,NaN,1000000.0,100.000,B,0.0,C,S1,C,2014-12-09 00:00:00
12,2014-12-04 17:43:18,2014-12-04 17:43:44,00258HAA9,.,NaN,2000000.0,100.500,S,0.0,C,S1,C,2014-12-09 00:00:00
13,2014-12-04 17:43:18,2014-12-05 16:23:13,00258HAA9,.,NaN,2000000.0,100.500,S,0.0,C,S1,C,2014-12-09 00:00:00
14,2014-12-04 17:44:11,2014-12-04 17:44:39,00258HAA9,.,NaN,375000.0,100.250,B,0.0,C,S1,C,2014-12-09 00:00:00
15,2014-12-04 17:43:40,2014-12-04 17:44:52,00258HAA9,.,NaN,500000.0,100.375,B,0.0,C,S1,C,2014-12-09 00:00:00
16,2014-03-06 15:05:13,2014-03-06 15:40:17,05464HAA8,.,NaN,1000000.0,99.896,S,0.0,C,P1,C,2014-03-13 00:00:00
17,2014-03-06 15:05:13,2014-03-06 15:40:17,05464HAA8,.,NaN,1000000.0,99.896,B,0.0,D,P1,C,2014-03-13 00:00:00
18,2014-03-06 15:44:30,2014-03-06 15:44:32,05464HAA8,.,NaN,3000000.0,100.187,B,0.0,C,S1,C,2014-03-13 00:00:00
19,2014-03-06 15:45:08,2014-03-06 15:45:08,05464HAA8,.,NaN,1000000.0,99.990,B,0.0,C,S1,C,2014-03-13 00:00:00
20,2014-03-06 15:43:54,2014-03-06 15:43:55,05464HAB6,.,NaN,2000000.0,101.068,B,0.0,C,S1,C,2014-03-13 00:00:00
21,2014-03-06 15:44:12,2014-03-06 15:44:13,05464HAB6,.,NaN,1000000.0,99.781,B,0.0,C,S1,C,2014-03-13 00:00:00
22,2014-11-05 19:56:19,2014-11-06 08:00:02,06120TAA6,.,NaN,1000000.0,100.843,B,0.0,C,S1,C,2014-11-13 00:00:00
23,2014-11-05 19:56:19,2014-11-06 08:00:03,06120TAA6,.,NaN,1000000.0,100.843,S,0.0,C,S1,C,2014-11-13 00:00:00
24,2014-11-05 17:38:20,2014-11-06 08:00:23,06120TAA6,.,NaN,1800000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00
25,2014-11-05 07:40:35,2014-11-06 08:00:28,06120TAA6,.,NaN,2500000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00
26,2014-11-05 07:13:30,2014-11-06 08:00:28,06120TAA6,.,NaN,1000000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00
27,2014-11-05 07:26:20,2014-11-06 08:00:28,06120TAA6,.,NaN,200000.0,99.588,S,0.0,D,P1,C,2014-11-13 00:00:00
28,2014-11-05 04:34:00,2014-11-06 08:00:30,06120TAA6,.,NaN,200000.0,99.638,B,0.0,C,S1,C,2014-11-13 00:00:00
29,2014-11-05 04:35:24,2014-11-06 08:00:30,06120TAA6,.,NaN,200000.0,99.688,B,0.0,C,S1,C,2014-11-13 00:00:00
30,2014-11-05 04:48:42,2014-11-06 08:00:30,06120TAA6,.,NaN,400000.0,99.658,S,0.0,C,S1,C,2014-11-13 00:00:00
31,2014-11-05 21:01:11,2014-11-06 08:01:28,06120TAA6,.,NaN,400000.0,100.925,S,0.0,C,S1,C,2014-11-13 00:00:00
32,2014-11-05 21:01:11,2014-11-06 08:01:29,06120TAA6,.,NaN,400000.0,100.925,B,0.0,C,S1,C,2014-11-13 00:00:00
33,2014-11-05 21:17:55,2014-11-06 08:01:34,06120TAA6,.,NaN,1500000.0,101.024,B,0.0,C,S1,C,2014-11-13 00:00:00
34,2014-11-05 21:17:55,2014-11-06 08:01:35,06120TAA6,.,NaN,1500000.0,101.024,S,0.0,C,S1,C,2014-11-13 00:00:00
35,2014-11-05 16:36:09,2014-11-05 16:36:12,06120TAA6,.,NaN,500000.0,100.200,B,0.0,C,S1,C,2014-11-13 00:00:00
36,2014-11-05 16:46:38,2014-11-05 16:47:32,06120TAA6,.,NaN,1000000.0,100.438,S,0.0,C,S1,C,2014-11-13 00:00:00
37,2014-11-05 16:54:27,2014-11-05 16:55:46,06120TAA6,.,NaN,1000000.0,100.359,B,0.0,C,S1,C,2014-11-13 00:00:00
38,2014-11-05 15:24:52,2014-11-05 17:00:03,06120TAA6,.,NaN,19800000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00
39,2014-11-05 15:22:05,2014-11-05 17:00:03,06120TAA6,.,NaN,35000000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00
40,2014-11-05 15:39:01,2014-11-05 17:00:04,06120TAA6,.,NaN,9800000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00
41,2014-11-05 15:41:39,2014-11-05 17:00:04,06120TAA6,.,NaN,8000000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00
42,2014-11-05 15:32:26,2014-11-05 17:00:04,06120TAA6,.,NaN,11150000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00
43,2014-11-05 15:14:57,2014-11-05 17:00:05,06120TAA6,.,NaN,7000000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00
44,2014-11-05 15:29:03,2014-11-05 17:00:05,06120TAA6,.,NaN,5000000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00
45,2014-11-05 15:25:02,2014-11-05 17:00:05,06120TAA6,.,NaN,5000000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00
46,2014-11-05 15:23:37,2014-11-05 17:00:05,06120TAA6,.,NaN,5000000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00
47,2014-11-05 15:22:51,2014-11-05 17:00:05,06120TAA6,.,NaN,3000000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00
48,2014-11-05 15:46:42,2014-11-05 17:00:06,06120TAA6,.,NaN,1000000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00
49,2014-11-05 15:17:20,2014-11-05 17:00:06,06120TAA6,.,NaN,525000.0,99.588,S,0.0,C,P1,C,2014-11-13 00:00:00

In [4]:
data['trdg_mkt_cd'].nunique()

2

In [5]:
data['company_symbol'].count()

15222753

In [6]:
data.loc[(data['bond_sym_id'] != '.')]

,trd_exctn_dt_trd_exctn_tm,trd_rpt_dt_trd_rpt_tm,cusip_id,bond_sym_id,company_symbol,entrd_vol_qt,rptd_pr,rpt_side_cd,sell_cmsn_rt,cntra_mp_id,trdg_mkt_cd,SUB_PRDCT,STLMNT_DT
8364,2014-01-02 14:40:04,2014-01-02 14:45:04,00846UAC5,A.GC,A,500000.0,116.613,S,0.0,C,S1,C,2014-01-07 00:00:00
8365,2014-01-03 15:06:17,2014-01-03 15:06:38,00846UAC5,A.GC,A,4000.0,115.717,B,0.0,D,S1,C,2014-01-08 00:00:00
8366,2014-01-03 15:06:21,2014-01-03 15:06:45,00846UAC5,A.GC,A,4000.0,115.717,S,0.0,D,S1,C,2014-01-08 00:00:00
8367,2014-01-03 15:06:21,2014-01-03 15:06:45,00846UAC5,A.GC,A,4000.0,115.717,B,0.0,C,S1,C,2014-01-08 00:00:00
8368,2014-01-03 15:15:40,2014-01-03 15:15:55,00846UAC5,A.GC,A,40000.0,116.641,S,0.0,C,S1,C,2014-01-08 00:00:00
8369,2014-01-03 15:15:40,2014-01-03 15:15:55,00846UAC5,A.GC,A,40000.0,116.541,B,0.0,D,S1,C,2014-01-08 00:00:00
8370,2014-01-03 15:15:40,2014-01-03 15:15:55,00846UAC5,A.GC,A,40000.0,116.541,S,0.0,D,S1,C,2014-01-08 00:00:00
8371,2014-01-03 15:15:40,2014-01-03 15:16:07,00846UAC5,A.GC,A,40000.0,116.541,S,0.0,D,S1,C,2014-01-08 00:00:00
8372,2014-01-06 13:23:48,2014-01-06 13:24:07,00846UAC5,A.GC,A,75000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8373,2014-01-06 13:23:48,2014-01-06 13:24:07,00846UAC5,A.GC,A,50000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8374,2014-01-06 13:23:48,2014-01-06 13:24:07,00846UAC5,A.GC,A,50000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8375,2014-01-06 13:23:48,2014-01-06 13:24:07,00846UAC5,A.GC,A,175000.0,116.214,B,0.0,D,S1,C,2014-01-09 00:00:00
8376,2014-01-06 13:23:58,2014-01-06 13:24:25,00846UAC5,A.GC,A,50000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8377,2014-01-06 13:23:58,2014-01-06 13:24:26,00846UAC5,A.GC,A,50000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8378,2014-01-06 13:23:58,2014-01-06 13:24:26,00846UAC5,A.GC,A,50000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8379,2014-01-06 13:23:58,2014-01-06 13:24:26,00846UAC5,A.GC,A,350000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8380,2014-01-06 13:23:58,2014-01-06 13:24:26,00846UAC5,A.GC,A,75000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8381,2014-01-06 13:23:58,2014-01-06 13:24:27,00846UAC5,A.GC,A,150000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8382,2014-01-06 13:23:58,2014-01-06 13:24:27,00846UAC5,A.GC,A,125000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8383,2014-01-06 13:23:58,2014-01-06 13:24:27,00846UAC5,A.GC,A,200000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8384,2014-01-06 13:23:58,2014-01-06 13:24:27,00846UAC5,A.GC,A,200000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8385,2014-01-06 13:23:58,2014-01-06 13:24:27,00846UAC5,A.GC,A,50000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8386,2014-01-06 13:23:58,2014-01-06 13:24:27,00846UAC5,A.GC,A,50000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8387,2014-01-06 13:23:58,2014-01-06 13:24:28,00846UAC5,A.GC,A,50000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8388,2014-01-06 13:23:58,2014-01-06 13:24:28,00846UAC5,A.GC,A,75000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8389,2014-01-06 13:23:58,2014-01-06 13:24:28,00846UAC5,A.GC,A,125000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8390,2014-01-06 13:23:58,2014-01-06 13:24:28,00846UAC5,A.GC,A,150000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8391,2014-01-06 13:23:58,2014-01-06 13:24:28,00846UAC5,A.GC,A,50000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8392,2014-01-06 13:23:58,2014-01-06 13:24:28,00846UAC5,A.GC,A,50000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8393,2014-01-06 13:23:58,2014-01-06 13:24:28,00846UAC5,A.GC,A,175000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15231087,2014-12-22 12:26:55,2014-12-22 12:27:05,74840DAB6,ZQK4062844,ZQK,26000.0,70.000,B,0.0,D,S1,C,2014-12-26 00:00:00
15231088,2014-12-29 13:02:45,2014-12-29 13:02:47,74840DAB6,ZQK4062844,ZQK,220000.0,67.550,B,0.0,D,S1,C,2015-01-02 00:00:00
15231089,2014-12-29 13:03:43,2014-12-29 13:03:59,74840DAB6,ZQK4062844,ZQK,220000.0,67.550,S,0.0,D,S1,C,2015-01-02 00:00:00
15231090,2014-12-29 13:22:47,2014-12-29 13:22:49,74840DAB6,ZQK4062844,ZQK,15000.0,66.800,B,0.0,C,S1,C,2015-01-02 00:00:00
15231091,2014-12-29 13:24:05,2014-12-29 13:24:10,74840DAB6,ZQK4062844,ZQK,10000.0,66.550,B,0.0,C,S1,C,2015-01-02 00:00:00
15231092,2014-12-29 13:27:15,2014-12-29 13:27:21,74840DAB6,ZQK4062844,ZQK,26000.0,66.800,B,0.0,C,S1,C,2015-01-02 00:00:00
15231093,2014-12-29 13:31:48,2014-12-29 13:31:52,74840DAB6,ZQK4062844,ZQK,19000.0,66.800,B,0.0,C,S1,C,2015-01-02 00:00:00
15231094,2014-12-29 13:32:10,2014-12-29 13:32:12,74840DAB6,ZQK4062844,ZQK,35000.0,66.800,B,0.0,C,S1,C,2015-01-02 00:00:00
15231095,2014-12-29 13:35:41,2014-12-29 13:35:43,74840DAB6,ZQK4062844,ZQK,25000.0,66.800,B,0.0,C,S1,C,2015-01-02 00:00:00
15231096,2014-12-29 13:37:15,2014-12-29 13:37:19,74840DAB6,ZQK4062844,ZQK,55000.0,66.800,B,0.0,C,S1,C,2015-01-02 00:00:00
15231097,2014-12-29 13:43:14,2014-12-29 13:43:16,74840DAB6,ZQK4062844,ZQK,30000.0,66.800,B,0.0,C,S1,C,2015-01-02 00:00:00
15231098,2014-12-29 13:44:57,2014-12-29 13:45:01,74840DAB6,ZQK4062844,ZQK,5000.0,66.250,B,0.0,C,S1,C,2015-01-02 00:00:00
15231099,2014-12-30 11:51:25,2014-12-30 11:53:00,74840DAB6,ZQK4062844,ZQK,120000.0,69.500,B,0.0,C,S1,C,2015-01-05 00:00:00
15231100,2014-12-30 11:55:53,2014-12-30 11:56:06,74840DAB6,ZQK4062844,ZQK,120000.0,69.125,S,0.0,C,S1,C,2015-01-05 00:00:00
15231101,2014-12-30 11:51:25,2014-12-30 12:08:08,74840DAB6,ZQK4062844,ZQK,120000.0,69.750,S,0.0,C,S1,C,2015-01-05 00:00:00
15231102,2014-09-16 13:15:00,2014-09-17 13:00:22,98913LAA1,ZRPT4164799,ZRPT,300000.0,100.000,S,0.0,C,P1,C,2014-09-19 00:00:00
15231103,2014-09-16 13:15:00,2014-09-17 13:00:23,98913LAA1,ZRPT4164799,ZRPT,9594000.0,100.000,S,0.0,C,P1,C,2014-09-19 00:00:00
15231104,2014-09-16 13:15:00,2014-09-17 13:00:23,98913LAA1,ZRPT4164799,ZRPT,48000000.0,100.000,S,0.0,C,P1,C,2014-09-19 00:00:00
15231105,2014-09-16 13:15:00,2014-09-17 13:00:24,98913LAA1,ZRPT4164799,ZRPT,72000000.0,100.000,S,0.0,C,P1,C,2014-09-19 00:00:00
15231106,2014-09-16 13:15:00,2014-09-17 13:00:24,98913LAA1,ZRPT4164799,ZRPT,30000000.0,100.000,S,0.0,C,P1,C,2014-09-19 00:00:00
15231107,2014-09-16 13:15:00,2014-09-17 13:00:24,98913LAA1,ZRPT4164799,ZRPT,875000.0,100.000,S,0.0,C,P1,C,2014-09-19 00:00:00
15231108,2014-10-24 12:38:36,2014-10-24 12:38:38,98913LAA1,ZRPT4164799,ZRPT,2000000.0,101.572,B,0.0,C,S1,C,2014-10-29 00:00:00
15231109,2014-10-27 10:54:41,2014-10-27 10:54:42,98913LAA1,ZRPT4164799,ZRPT,2000000.0,101.742,S,0.0,C,S1,C,2014-10-30 00:00:00
15231110,2014-11-17 16:08:00,2014-11-18 13:00:34,98913LAB9,ZRPT4185555,ZRPT,17000000.0,100.000,S,0.0,C,P1,C,2014-11-20 00:00:00
15231111,2014-11-17 16:08:00,2014-11-18 13:00:34,98913LAB9,ZRPT4185555,ZRPT,20000000.0,100.000,S,0.0,C,P1,C,2014-11-20 00:00:00
15231112,2014-11-17 16:08:00,2014-11-18 13:00:35,98913LAB9,ZRPT4185555,ZRPT,5000000.0,100.000,S,0.0,C,P1,C,2014-11-20 00:00:00
15231113,2014-11-17 16:08:00,2014-11-18 13:00:35,98913LAB9,ZRPT4185555,ZRPT,6000000.0,100.000,S,0.0,C,P1,C,2014-11-20 00:00:00
15231114,2014-11-17 16:08:00,2014-11-18 13:00:35,98913LAB9,ZRPT4185555,ZRPT,4221000.0,100.000,S,0.0,C,P1,C,2014-11-20 00:00:00
15231115,2014-11-17 16:08:00,2014-11-18 13:00:35,98913LAB9,ZRPT4185555,ZRPT,15000000.0,100.000,S,0.0,C,P1,C,2014-11-20 00:00:00
15231116,2014-11-17 16:08:00,2014-11-18 13:00:35,98913LAB9,ZRPT4185555,ZRPT,8000000.0,100.000,S,0.0,C,P1,C,2014-11-20 00:00:00

In [7]:
data.dtypes

trd_exctn_dt_trd_exctn_tm    datetime64[ns]
trd_rpt_dt_trd_rpt_tm        datetime64[ns]
cusip_id                             object
bond_sym_id                          object
company_symbol                       object
entrd_vol_qt                        float64
rptd_pr                             float64
rpt_side_cd                          object
sell_cmsn_rt                        float64
cntra_mp_id                          object
trdg_mkt_cd                          object
SUB_PRDCT                            object
STLMNT_DT                            object
dtype: object

In [8]:
data.shape

(15231117, 13)

In [9]:
data.duplicated().sum()

591297

In [10]:
data.loc[data.duplicated(keep=False)].sort_values(['cusip_id','trd_exctn_dt_trd_exctn_tm'])

,trd_exctn_dt_trd_exctn_tm,trd_rpt_dt_trd_rpt_tm,cusip_id,bond_sym_id,company_symbol,entrd_vol_qt,rptd_pr,rpt_side_cd,sell_cmsn_rt,cntra_mp_id,trdg_mkt_cd,SUB_PRDCT,STLMNT_DT
564795,2014-04-30 13:59:03,2014-05-01 10:21:22,000361AM7,AIR.GI,AIR,150000.0,104.000,B,0.0,D,S1,C,2014-05-05 00:00:00
564799,2014-04-30 13:59:03,2014-05-01 10:21:22,000361AM7,AIR.GI,AIR,150000.0,104.000,B,0.0,D,S1,C,2014-05-05 00:00:00
564973,2014-01-29 13:11:00,2014-01-29 13:12:00,000361AQ8,AIR3961266,AIR,5000.0,107.250,S,0.0,C,S1,C,2014-02-03 00:00:00
564975,2014-01-29 13:11:00,2014-01-29 13:12:00,000361AQ8,AIR3961266,AIR,5000.0,107.250,S,0.0,C,S1,C,2014-02-03 00:00:00
564976,2014-01-29 13:11:00,2014-01-29 13:12:00,000361AQ8,AIR3961266,AIR,5000.0,107.250,S,0.0,C,S1,C,2014-02-03 00:00:00
564979,2014-01-29 13:11:00,2014-01-29 13:12:00,000361AQ8,AIR3961266,AIR,5000.0,107.250,S,0.0,C,S1,C,2014-02-03 00:00:00
564982,2014-01-29 13:11:00,2014-01-29 13:12:00,000361AQ8,AIR3961266,AIR,5000.0,107.250,S,0.0,C,S1,C,2014-02-03 00:00:00
564983,2014-01-29 13:11:00,2014-01-29 13:12:01,000361AQ8,AIR3961266,AIR,13000.0,107.250,S,0.0,C,S1,C,2014-02-03 00:00:00
564988,2014-01-29 13:11:00,2014-01-29 13:12:01,000361AQ8,AIR3961266,AIR,13000.0,107.250,S,0.0,C,S1,C,2014-02-03 00:00:00
564996,2014-01-29 13:11:00,2014-01-29 13:12:02,000361AQ8,AIR3961266,AIR,5000.0,107.250,S,0.0,C,S1,C,2014-02-03 00:00:00
564998,2014-01-29 13:11:00,2014-01-29 13:12:02,000361AQ8,AIR3961266,AIR,10000.0,107.250,S,0.0,C,S1,C,2014-02-03 00:00:00
564999,2014-01-29 13:11:00,2014-01-29 13:12:02,000361AQ8,AIR3961266,AIR,5000.0,107.250,S,0.0,C,S1,C,2014-02-03 00:00:00
565002,2014-01-29 13:11:00,2014-01-29 13:12:02,000361AQ8,AIR3961266,AIR,10000.0,107.250,S,0.0,C,S1,C,2014-02-03 00:00:00
565018,2014-02-05 13:15:56,2014-02-05 13:19:12,000361AQ8,AIR3961266,AIR,75000.0,108.500,S,0.0,C,S1,C,2014-02-10 00:00:00
565019,2014-02-05 13:15:56,2014-02-05 13:19:12,000361AQ8,AIR3961266,AIR,75000.0,108.500,S,0.0,C,S1,C,2014-02-10 00:00:00
565020,2014-02-05 13:15:56,2014-02-05 13:19:12,000361AQ8,AIR3961266,AIR,50000.0,108.500,S,0.0,C,S1,C,2014-02-10 00:00:00
565021,2014-02-05 13:15:56,2014-02-05 13:19:12,000361AQ8,AIR3961266,AIR,50000.0,108.500,S,0.0,C,S1,C,2014-02-10 00:00:00
565022,2014-02-05 13:15:56,2014-02-05 13:19:12,000361AQ8,AIR3961266,AIR,50000.0,108.500,S,0.0,C,S1,C,2014-02-10 00:00:00
565023,2014-02-05 13:15:56,2014-02-05 13:19:12,000361AQ8,AIR3961266,AIR,30000.0,108.500,S,0.0,C,S1,C,2014-02-10 00:00:00
565024,2014-02-05 13:15:56,2014-02-05 13:19:12,000361AQ8,AIR3961266,AIR,30000.0,108.500,S,0.0,C,S1,C,2014-02-10 00:00:00
565025,2014-02-05 13:15:56,2014-02-05 13:19:12,000361AQ8,AIR3961266,AIR,25000.0,108.500,S,0.0,C,S1,C,2014-02-10 00:00:00
565026,2014-02-05 13:15:56,2014-02-05 13:19:12,000361AQ8,AIR3961266,AIR,25000.0,108.500,S,0.0,C,S1,C,2014-02-10 00:00:00
565027,2014-02-05 13:15:56,2014-02-05 13:19:12,000361AQ8,AIR3961266,AIR,25000.0,108.500,S,0.0,C,S1,C,2014-02-10 00:00:00
565028,2014-02-05 13:15:56,2014-02-05 13:19:12,000361AQ8,AIR3961266,AIR,20000.0,108.500,S,0.0,C,S1,C,2014-02-10 00:00:00
565029,2014-02-05 13:15:56,2014-02-05 13:19:12,000361AQ8,AIR3961266,AIR,20000.0,108.500,S,0.0,C,S1,C,2014-02-10 00:00:00
565030,2014-02-05 13:15:56,2014-02-05 13:19:12,000361AQ8,AIR3961266,AIR,25000.0,108.500,S,0.0,C,S1,C,2014-02-10 00:00:00
565041,2014-02-07 15:04:22,2014-02-11 10:47:19,000361AQ8,AIR3961266,AIR,194000.0,107.375,S,0.0,D,S1,C,2014-02-12 00:00:00
565045,2014-02-07 15:04:22,2014-02-11 10:47:19,000361AQ8,AIR3961266,AIR,194000.0,107.375,S,0.0,D,S1,C,2014-02-12 00:00:00
565055,2014-03-10 15:51:48,2014-03-10 15:53:26,000361AQ8,AIR3961266,AIR,15000.0,108.750,S,0.0,C,S1,C,2014-03-13 00:00:00
565056,2014-03-10 15:51:48,2014-03-10 15:53:26,000361AQ8,AIR3961266,AIR,15000.0,108.750,B,0.0,C,S1,C,2014-03-13 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11648477,2014-07-21 06:33:26,2014-07-21 08:00:18,Y8564SAB8,PTLKF4029050,PTLKF,600000.0,102.380,B,0.0,C,S1,C,2014-07-24 00:00:00
11648479,2014-07-21 06:33:26,2014-07-21 08:00:18,Y8564SAB8,PTLKF4029050,PTLKF,800000.0,102.380,B,0.0,C,S1,C,2014-07-24 00:00:00
11648480,2014-07-21 06:33:26,2014-07-21 08:00:18,Y8564SAB8,PTLKF4029050,PTLKF,600000.0,102.380,S,0.0,C,S1,C,2014-07-24 00:00:00
11648481,2014-07-21 06:33:26,2014-07-21 08:00:18,Y8564SAB8,PTLKF4029050,PTLKF,800000.0,102.380,S,0.0,C,S1,C,2014-07-24 00:00:00
11648482,2014-07-21 06:33:26,2014-07-21 08:00:18,Y8564SAB8,PTLKF4029050,PTLKF,800000.0,102.380,B,0.0,C,S1,C,2014-07-24 00:00:00
11648483,2014-07-21 06:33:26,2014-07-21 08:00:18,Y8564SAB8,PTLKF4029050,PTLKF,800000.0,102.380,S,0.0,C,S1,C,2014-07-24 00:00:00
13524018,2014-03-26 10:15:39,2014-03-27 13:20:30,Y8620BAQ4,TOIP3957016,TOIP,200000.0,85.300,B,0.0,D,S1,C,2014-03-31 00:00:00
13524020,2014-03-26 10:15:39,2014-03-27 13:20:30,Y8620BAQ4,TOIP3957016,TOIP,200000.0,85.300,B,0.0,D,S1,C,2014-03-31 00:00:00
13657234,2014-08-04 10:52:03,2014-08-04 12:55:02,Y8848XAA7,TTM4122594,TTM,400000.0,101.990,B,0.0,C,S1,C,2014-08-07 00:00:00
13657238,2014-08-04 10:52:03,2014-08-04 12:55:02,Y8848XAA7,TTM4122594,TTM,400000.0,101.990,B,0.0,C,S1,C,2014-08-07 00:00:00
13657306,2014-11-26 10:26:51,2014-12-02 17:36:59,Y8848XAA7,TTM4122594,TTM,200000.0,104.335,B,0.0,D,S1,C,2014-12-01 00:00:00
13657309,2014-11-26 10:26:51,2014-12-02 17:36:59,Y8848XAA7,TTM4122594,TTM,200000.0,104.335,B,0.0,D,S1,C,2014-12-01 00:00:00
14028075,2014-04-17 10:55:17,2014-04-24 16:00:33,Y9244WAW9,UOVE3890818,UOVE,200000.0,101.240,B,0.0,C,S1,C,2014-04-23 00:00:00
14028077,2014-04-17 10:55:17,2014-04-24 16:00:33,Y9244WAW9,UOVE3890818,UOVE,200000.0,101.240,S,0.0,C,S1,C,2014-04-23 00:00:00
14028078,2014-04-17 10:55:17,2014-04-24 16:00:33,Y9244WAW9,UOVE3890818,UOVE,200000.0,101.240,S,0.0,C,S1,C,2014-04-23 00:00:00
14028079,2014-04-17 10:55:17,2014-04-24 16:00:33,Y9244WAW9,UOVE3890818,UOVE,200000.0,101.240,B,0.0,C,S1,C,2014-04-23 00:00:00
15206767,2014-03-11 15:43:28,2014-03-11 15:45:40,Y97279AB2,YNCO3937377,YNCO,10000.0,92.000,S,0.0,C,S1,C,2014-03-14 00:00:00
15206768,2014-03-11 15:43:28,2014-03-11 15:45:40,Y97279AB2,YNCO3937377,YNCO,10000.0,92.000,S,0.0,C,S1,C,2014-03-14 00:00:00
15206769,2014-03-11 15:43:28,2014-03-11 15:45:40,Y97279AB2,YNCO3937377,YNCO,10000.0,92.000,S,0.0,C,S1,C,2014-03-14 00:00:00
15206770,2014-03-11 15:43:28,2014-03-11 15:45:40,Y97279AB2,YNCO3937377,YNCO,10000.0,92.000,S,0.0,C,S1,C,2014-03-14 00:00:00
15206841,2014-08-14 16:05:36,2014-08-14 16:07:39,Y97279AB2,YNCO3937377,YNCO,10000.0,93.250,B,0.0,C,S1,C,2014-08-19 00:00:00
15206842,2014-08-14 16:05:36,2014-08-14 16:07:39,Y97279AB2,YNCO3937377,YNCO,10000.0,93.250,B,0.0,C,S1,C,2014-08-19 00:00:00
15206844,2014-08-14 16:05:36,2014-08-14 16:07:39,Y97279AB2,YNCO3937377,YNCO,10000.0,93.250,B,0.0,C,S1,C,2014-08-19 00:00:00
15206845,2014-08-14 16:05:36,2014-08-14 16:07:39,Y97279AB2,YNCO3937377,YNCO,10000.0,93.250,B,0.0,C,S1,C,2014-08-19 00:00:00
3351626,2014-03-24 15:04:37,2014-03-24 15:08:33,NaN,CHRC4104422,CHRC,8000.0,100.000,S,0.0,C,P1,C,2014-03-24 00:00:00
3351627,2014-03-24 15:04:37,2014-03-24 15:08:33,NaN,CHRC4104422,CHRC,8000.0,100.000,S,0.0,C,P1,C,2014-03-24 00:00:00
3356546,2014-06-25 14:28:06,2014-06-25 15:32:29,NaN,CHRC4127469,CHRC,10000.0,100.000,S,0.0,C,S1,C,2014-06-25 00:00:00
3356547,2014-06-25 14:28:06,2014-06-25 15:32:29,NaN,CHRC4127469,CHRC,10000.0,100.000,S,0.0,C,S1,C,2014-06-25 00:00:00
3354347,2014-10-16 10:40:00,2014-10-16 14:33:49,NaN,CHRC4115785,CHRC,2500.0,100.000,B,0.0,C,P1,C,2014-10-16 00:00:00
3354380,2014-10-16 10:40:00,2014-10-16 14:33:49,NaN,CHRC4115785,CHRC,2500.0,100.000,B,0.0,C,P1,C,2014-10-16 00:00:00

In [11]:
dtype={'cusip_id': str , 'bond_sym_id': str, 'company_symbol': str, 'cusip_id': str,
      'entrd_vol_qt' : np.int , 'rptd_pr' : np.float, 'rpt_side_cd':str, 'sell_cmsn_rt':np.float32,
      'cntra_mp_id':str, 'trdg_mkt_cd':str, 'SUB_PRDCT':str}

parse_dates = [['trd_exctn_dt','trd_exctn_tm'],['trd_rpt_dt','trd_rpt_tm'],'STLMNT_DT']

all_data = pd.read_csv(file_path,parse_dates=parse_dates,
                   infer_datetime_format=True)

C:\Users\cchen07\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (14,27,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
all_data.loc[all_data.duplicated(keep=False)].sort_values(['cusip_id','trd_exctn_dt_trd_exctn_tm'])

Empty DataFrame
Columns: [trd_exctn_dt_trd_exctn_tm, trd_rpt_dt_trd_rpt_tm, cusip_id, bond_sym_id, company_symbol, msg_seq_nb, trc_st, scrty_type_cd, wis_fl, cmsn_trd, entrd_vol_qt, rptd_pr, yld_sign_cd, yld_pt, asof_cd, days_to_sttl_ct, sale_cndtn_cd, sale_cndtn2_cd, rpt_side_cd, buy_cmsn_rt, buy_cpcty_cd, sell_cmsn_rt, sell_cpcty_cd, cntra_mp_id, agu_qsr_id, spcl_trd_fl, trdg_mkt_cd, dissem_fl, orig_msg_seq_nb, SUB_PRDCT, STLMNT_DT, TRD_MOD_3, TRD_MOD_4, LCKD_IN_IND, PR_TRD_DT]
Index: []

[0 rows x 35 columns]

In [15]:
all_data.loc[(data['cusip_id'] == '000361AM7') & (data['trd_exctn_dt_trd_exctn_tm'] == '2014-04-30 13:59:03	')]

,trd_exctn_dt_trd_exctn_tm,trd_rpt_dt_trd_rpt_tm,cusip_id,bond_sym_id,company_symbol,msg_seq_nb,trc_st,scrty_type_cd,wis_fl,cmsn_trd,...,spcl_trd_fl,trdg_mkt_cd,dissem_fl,orig_msg_seq_nb,SUB_PRDCT,STLMNT_DT,TRD_MOD_3,TRD_MOD_4,LCKD_IN_IND,PR_TRD_DT
564795,2014-04-30 13:59:03,2014-05-01 10:21:22,000361AM7,AIR.GI,AIR,10971,R,NaN,N,N,...,NaN,S1,N,47900.0,C,2014-05-05 00:00:00,Z,NaN,NaN,20140430.0
564798,2014-04-30 13:59:03,2014-04-30 14:04:03,000361AM7,AIR.GI,AIR,47900,T,NaN,N,N,...,NaN,S1,N,NaN,C,2014-05-05 00:00:00,NaN,NaN,NaN,NaN
564799,2014-04-30 13:59:03,2014-05-01 10:21:22,000361AM7,AIR.GI,AIR,47900,C,NaN,N,N,...,NaN,S1,N,NaN,C,2014-05-05 00:00:00,NaN,NaN,NaN,NaN

In [24]:
all_data.iloc[564795] == all_data.iloc[564799]

trd_exctn_dt_trd_exctn_tm     True
trd_rpt_dt_trd_rpt_tm         True
cusip_id                      True
bond_sym_id                   True
company_symbol                True
msg_seq_nb                   False
trc_st                       False
scrty_type_cd                False
wis_fl                        True
cmsn_trd                      True
entrd_vol_qt                  True
rptd_pr                       True
yld_sign_cd                  False
yld_pt                        True
asof_cd                      False
days_to_sttl_ct              False
sale_cndtn_cd                False
sale_cndtn2_cd               False
rpt_side_cd                   True
buy_cmsn_rt                   True
buy_cpcty_cd                  True
sell_cmsn_rt                  True
sell_cpcty_cd                False
cntra_mp_id                   True
agu_qsr_id                   False
spcl_trd_fl                  False
trdg_mkt_cd                   True
dissem_fl                     True
orig_msg_seq_nb              False
SUB_PRDCT                     True
STLMNT_DT                     True
TRD_MOD_3                    False
TRD_MOD_4                    False
LCKD_IN_IND                  False
PR_TRD_DT                    False
dtype: bool

## orig_msg_seq_nb and  trc_st  are weird

In [25]:
all_data.iloc[564795].dropna()

trd_exctn_dt_trd_exctn_tm    2014-04-30 13:59:03
trd_rpt_dt_trd_rpt_tm        2014-05-01 10:21:22
cusip_id                               000361AM7
bond_sym_id                               AIR.GI
company_symbol                               AIR
msg_seq_nb                                 10971
trc_st                                         R
wis_fl                                         N
cmsn_trd                                       N
entrd_vol_qt                              150000
rptd_pr                                      104
yld_pt                                  0.053495
asof_cd                                        A
rpt_side_cd                                    B
buy_cmsn_rt                                    0
buy_cpcty_cd                                   A
sell_cmsn_rt                                   0
cntra_mp_id                                    D
trdg_mkt_cd                                   S1
dissem_fl                                      N
orig_msg_seq_nb                            47900
SUB_PRDCT                                      C
STLMNT_DT                    2014-05-05 00:00:00
TRD_MOD_3                                      Z
PR_TRD_DT                            2.01404e+07
Name: 564795, dtype: object

In [26]:
all_data.iloc[564799].dropna()

trd_exctn_dt_trd_exctn_tm    2014-04-30 13:59:03
trd_rpt_dt_trd_rpt_tm        2014-05-01 10:21:22
cusip_id                               000361AM7
bond_sym_id                               AIR.GI
company_symbol                               AIR
msg_seq_nb                                 47900
trc_st                                         C
wis_fl                                         N
cmsn_trd                                       N
entrd_vol_qt                              150000
rptd_pr                                      104
yld_pt                                  0.053495
rpt_side_cd                                    B
buy_cmsn_rt                                    0
buy_cpcty_cd                                   A
sell_cmsn_rt                                   0
cntra_mp_id                                    D
trdg_mkt_cd                                   S1
dissem_fl                                      N
SUB_PRDCT                                      C
STLMNT_DT                    2014-05-05 00:00:00
Name: 564799, dtype: object