In [1]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

from pathlib import Path

In [2]:
root_folder = Path('../Data/')
file_name = 'f99999c0cc149c54.csv'
file_path = root_folder / file_name

field_of_interest = ['cusip_id', 'bond_sym_id', 'company_symbol', 'trd_exctn_dt',
       'trd_exctn_tm', 'trd_rpt_dt', 'trd_rpt_tm','entrd_vol_qt', 'rptd_pr',
       'rpt_side_cd', 'sell_cmsn_rt', 
        'cntra_mp_id', 'trdg_mkt_cd',
       'SUB_PRDCT', 'STLMNT_DT']

dtype={'cusip_id': str , 'bond_sym_id': str, 'company_symbol': str, 'cusip_id': str,
      'entrd_vol_qt' : np.int , 'rptd_pr' : np.float, 'rpt_side_cd':str, 'sell_cmsn_rt':np.float32,
      'cntra_mp_id':str, 'trdg_mkt_cd':str, 'SUB_PRDCT':str}

parse_dates = [['trd_exctn_dt','trd_exctn_tm'],['trd_rpt_dt','trd_rpt_tm'],'STLMNT_DT']

data = pd.read_csv(file_path,usecols=field_of_interest,parse_dates=parse_dates,
                   infer_datetime_format=True)

In [28]:
data.head(5)

,trd_exctn_dt_trd_exctn_tm,trd_rpt_dt_trd_rpt_tm,cusip_id,bond_sym_id,company_symbol,entrd_vol_qt,rptd_pr,rpt_side_cd,sell_cmsn_rt,cntra_mp_id,trdg_mkt_cd,SUB_PRDCT,STLMNT_DT
0,2014-12-08 16:23:40,2014-12-08 16:28:40,00138EAA2,.,NaN,1000000.0,99.942,S,0.0,C,S1,C,2014-12-15 00:00:00
1,2014-12-08 16:23:40,2014-12-08 17:25:25,00138EAA2,.,NaN,1000000.0,99.942,S,0.0,C,S1,C,2014-12-15 00:00:00
2,2014-12-08 16:23:40,2014-12-08 16:28:41,00138EAA2,.,NaN,1000000.0,99.942,B,0.0,C,S1,C,2014-12-15 00:00:00
3,2014-12-08 16:23:40,2014-12-08 17:25:28,00138EAA2,.,NaN,1000000.0,99.942,B,0.0,C,S1,C,2014-12-15 00:00:00
4,2014-12-08 15:55:31,2014-12-08 17:20:02,00138EAA2,.,NaN,4000000.0,99.965,S,0.0,C,S1,C,2014-12-15 00:00:00

In [4]:
data['trdg_mkt_cd'].nunique()

2

In [5]:
data['company_symbol'].count()

15222753

In [27]:
data.loc[(data['bond_sym_id'] != '.')].head(10)

,trd_exctn_dt_trd_exctn_tm,trd_rpt_dt_trd_rpt_tm,cusip_id,bond_sym_id,company_symbol,entrd_vol_qt,rptd_pr,rpt_side_cd,sell_cmsn_rt,cntra_mp_id,trdg_mkt_cd,SUB_PRDCT,STLMNT_DT
8364,2014-01-02 14:40:04,2014-01-02 14:45:04,00846UAC5,A.GC,A,500000.0,116.613,S,0.0,C,S1,C,2014-01-07 00:00:00
8365,2014-01-03 15:06:17,2014-01-03 15:06:38,00846UAC5,A.GC,A,4000.0,115.717,B,0.0,D,S1,C,2014-01-08 00:00:00
8366,2014-01-03 15:06:21,2014-01-03 15:06:45,00846UAC5,A.GC,A,4000.0,115.717,S,0.0,D,S1,C,2014-01-08 00:00:00
8367,2014-01-03 15:06:21,2014-01-03 15:06:45,00846UAC5,A.GC,A,4000.0,115.717,B,0.0,C,S1,C,2014-01-08 00:00:00
8368,2014-01-03 15:15:40,2014-01-03 15:15:55,00846UAC5,A.GC,A,40000.0,116.641,S,0.0,C,S1,C,2014-01-08 00:00:00
8369,2014-01-03 15:15:40,2014-01-03 15:15:55,00846UAC5,A.GC,A,40000.0,116.541,B,0.0,D,S1,C,2014-01-08 00:00:00
8370,2014-01-03 15:15:40,2014-01-03 15:15:55,00846UAC5,A.GC,A,40000.0,116.541,S,0.0,D,S1,C,2014-01-08 00:00:00
8371,2014-01-03 15:15:40,2014-01-03 15:16:07,00846UAC5,A.GC,A,40000.0,116.541,S,0.0,D,S1,C,2014-01-08 00:00:00
8372,2014-01-06 13:23:48,2014-01-06 13:24:07,00846UAC5,A.GC,A,75000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00
8373,2014-01-06 13:23:48,2014-01-06 13:24:07,00846UAC5,A.GC,A,50000.0,116.214,S,0.0,C,S1,C,2014-01-09 00:00:00

In [7]:
data.dtypes

trd_exctn_dt_trd_exctn_tm    datetime64[ns]
trd_rpt_dt_trd_rpt_tm        datetime64[ns]
cusip_id                             object
bond_sym_id                          object
company_symbol                       object
entrd_vol_qt                        float64
rptd_pr                             float64
rpt_side_cd                          object
sell_cmsn_rt                        float64
cntra_mp_id                          object
trdg_mkt_cd                          object
SUB_PRDCT                            object
STLMNT_DT                            object
dtype: object

In [8]:
data.shape

(15231117, 13)

In [9]:
data.duplicated().sum()

591297

In [29]:
data.loc[data.duplicated(keep=False)].sort_values(['cusip_id','trd_exctn_dt_trd_exctn_tm']).head(10)

,trd_exctn_dt_trd_exctn_tm,trd_rpt_dt_trd_rpt_tm,cusip_id,bond_sym_id,company_symbol,entrd_vol_qt,rptd_pr,rpt_side_cd,sell_cmsn_rt,cntra_mp_id,trdg_mkt_cd,SUB_PRDCT,STLMNT_DT
564795,2014-04-30 13:59:03,2014-05-01 10:21:22,000361AM7,AIR.GI,AIR,150000.0,104.00,B,0.0,D,S1,C,2014-05-05 00:00:00
564799,2014-04-30 13:59:03,2014-05-01 10:21:22,000361AM7,AIR.GI,AIR,150000.0,104.00,B,0.0,D,S1,C,2014-05-05 00:00:00
564973,2014-01-29 13:11:00,2014-01-29 13:12:00,000361AQ8,AIR3961266,AIR,5000.0,107.25,S,0.0,C,S1,C,2014-02-03 00:00:00
564975,2014-01-29 13:11:00,2014-01-29 13:12:00,000361AQ8,AIR3961266,AIR,5000.0,107.25,S,0.0,C,S1,C,2014-02-03 00:00:00
564976,2014-01-29 13:11:00,2014-01-29 13:12:00,000361AQ8,AIR3961266,AIR,5000.0,107.25,S,0.0,C,S1,C,2014-02-03 00:00:00
564979,2014-01-29 13:11:00,2014-01-29 13:12:00,000361AQ8,AIR3961266,AIR,5000.0,107.25,S,0.0,C,S1,C,2014-02-03 00:00:00
564982,2014-01-29 13:11:00,2014-01-29 13:12:00,000361AQ8,AIR3961266,AIR,5000.0,107.25,S,0.0,C,S1,C,2014-02-03 00:00:00
564983,2014-01-29 13:11:00,2014-01-29 13:12:01,000361AQ8,AIR3961266,AIR,13000.0,107.25,S,0.0,C,S1,C,2014-02-03 00:00:00
564988,2014-01-29 13:11:00,2014-01-29 13:12:01,000361AQ8,AIR3961266,AIR,13000.0,107.25,S,0.0,C,S1,C,2014-02-03 00:00:00
564996,2014-01-29 13:11:00,2014-01-29 13:12:02,000361AQ8,AIR3961266,AIR,5000.0,107.25,S,0.0,C,S1,C,2014-02-03 00:00:00

In [11]:
dtype={'cusip_id': str , 'bond_sym_id': str, 'company_symbol': str, 'cusip_id': str,
      'entrd_vol_qt' : np.int , 'rptd_pr' : np.float, 'rpt_side_cd':str, 'sell_cmsn_rt':np.float32,
      'cntra_mp_id':str, 'trdg_mkt_cd':str, 'SUB_PRDCT':str}

parse_dates = [['trd_exctn_dt','trd_exctn_tm'],['trd_rpt_dt','trd_rpt_tm'],'STLMNT_DT']

all_data = pd.read_csv(file_path,parse_dates=parse_dates,
                   infer_datetime_format=True)

C:\Users\cchen07\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (14,27,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
all_data.loc[all_data.duplicated(keep=False)].sort_values(['cusip_id','trd_exctn_dt_trd_exctn_tm'])

Empty DataFrame
Columns: [trd_exctn_dt_trd_exctn_tm, trd_rpt_dt_trd_rpt_tm, cusip_id, bond_sym_id, company_symbol, msg_seq_nb, trc_st, scrty_type_cd, wis_fl, cmsn_trd, entrd_vol_qt, rptd_pr, yld_sign_cd, yld_pt, asof_cd, days_to_sttl_ct, sale_cndtn_cd, sale_cndtn2_cd, rpt_side_cd, buy_cmsn_rt, buy_cpcty_cd, sell_cmsn_rt, sell_cpcty_cd, cntra_mp_id, agu_qsr_id, spcl_trd_fl, trdg_mkt_cd, dissem_fl, orig_msg_seq_nb, SUB_PRDCT, STLMNT_DT, TRD_MOD_3, TRD_MOD_4, LCKD_IN_IND, PR_TRD_DT]
Index: []

[0 rows x 35 columns]

In [15]:
all_data.loc[(data['cusip_id'] == '000361AM7') & (data['trd_exctn_dt_trd_exctn_tm'] == '2014-04-30 13:59:03	')]

,trd_exctn_dt_trd_exctn_tm,trd_rpt_dt_trd_rpt_tm,cusip_id,bond_sym_id,company_symbol,msg_seq_nb,trc_st,scrty_type_cd,wis_fl,cmsn_trd,...,spcl_trd_fl,trdg_mkt_cd,dissem_fl,orig_msg_seq_nb,SUB_PRDCT,STLMNT_DT,TRD_MOD_3,TRD_MOD_4,LCKD_IN_IND,PR_TRD_DT
564795,2014-04-30 13:59:03,2014-05-01 10:21:22,000361AM7,AIR.GI,AIR,10971,R,NaN,N,N,...,NaN,S1,N,47900.0,C,2014-05-05 00:00:00,Z,NaN,NaN,20140430.0
564798,2014-04-30 13:59:03,2014-04-30 14:04:03,000361AM7,AIR.GI,AIR,47900,T,NaN,N,N,...,NaN,S1,N,NaN,C,2014-05-05 00:00:00,NaN,NaN,NaN,NaN
564799,2014-04-30 13:59:03,2014-05-01 10:21:22,000361AM7,AIR.GI,AIR,47900,C,NaN,N,N,...,NaN,S1,N,NaN,C,2014-05-05 00:00:00,NaN,NaN,NaN,NaN

In [24]:
all_data.iloc[564795] == all_data.iloc[564799]

trd_exctn_dt_trd_exctn_tm     True
trd_rpt_dt_trd_rpt_tm         True
cusip_id                      True
bond_sym_id                   True
company_symbol                True
msg_seq_nb                   False
trc_st                       False
scrty_type_cd                False
wis_fl                        True
cmsn_trd                      True
entrd_vol_qt                  True
rptd_pr                       True
yld_sign_cd                  False
yld_pt                        True
asof_cd                      False
days_to_sttl_ct              False
sale_cndtn_cd                False
sale_cndtn2_cd               False
rpt_side_cd                   True
buy_cmsn_rt                   True
buy_cpcty_cd                  True
sell_cmsn_rt                  True
sell_cpcty_cd                False
cntra_mp_id                   True
agu_qsr_id                   False
spcl_trd_fl                  False
trdg_mkt_cd                   True
dissem_fl                     True
orig_msg_seq_nb              False
SUB_PRDCT                     True
STLMNT_DT                     True
TRD_MOD_3                    False
TRD_MOD_4                    False
LCKD_IN_IND                  False
PR_TRD_DT                    False
dtype: bool

## orig_msg_seq_nb and  trc_st  are weird

In [25]:
all_data.iloc[564795].dropna()

trd_exctn_dt_trd_exctn_tm    2014-04-30 13:59:03
trd_rpt_dt_trd_rpt_tm        2014-05-01 10:21:22
cusip_id                               000361AM7
bond_sym_id                               AIR.GI
company_symbol                               AIR
msg_seq_nb                                 10971
trc_st                                         R
wis_fl                                         N
cmsn_trd                                       N
entrd_vol_qt                              150000
rptd_pr                                      104
yld_pt                                  0.053495
asof_cd                                        A
rpt_side_cd                                    B
buy_cmsn_rt                                    0
buy_cpcty_cd                                   A
sell_cmsn_rt                                   0
cntra_mp_id                                    D
trdg_mkt_cd                                   S1
dissem_fl                                      N
orig_msg_seq_nb                            47900
SUB_PRDCT                                      C
STLMNT_DT                    2014-05-05 00:00:00
TRD_MOD_3                                      Z
PR_TRD_DT                            2.01404e+07
Name: 564795, dtype: object

In [26]:
all_data.iloc[564799].dropna()

trd_exctn_dt_trd_exctn_tm    2014-04-30 13:59:03
trd_rpt_dt_trd_rpt_tm        2014-05-01 10:21:22
cusip_id                               000361AM7
bond_sym_id                               AIR.GI
company_symbol                               AIR
msg_seq_nb                                 47900
trc_st                                         C
wis_fl                                         N
cmsn_trd                                       N
entrd_vol_qt                              150000
rptd_pr                                      104
yld_pt                                  0.053495
rpt_side_cd                                    B
buy_cmsn_rt                                    0
buy_cpcty_cd                                   A
sell_cmsn_rt                                   0
cntra_mp_id                                    D
trdg_mkt_cd                                   S1
dissem_fl                                      N
SUB_PRDCT                                      C
STLMNT_DT                    2014-05-05 00:00:00
Name: 564799, dtype: object