In [1]:
import pandas as pd
import numpy as np

import os
from pathlib import Path
import sys
import itertools

from manage_path import *
from get_data import *

In [2]:
data = load_data(file_name="FINRA_TRACE_2014.pkl")

loading data FINRA_TRACE_2014.pkl...
Getting data from/home/raymond/Research/FINRA_TRACE/Data/Pickle/FINRA_TRACE_2014.pkl...
Data getting success!

In [3]:
data.head()

,N,TRC_ST,BOND_SYM_ID,CUSIP_ID,SCRTY_TYPE_CD,WIS_CD,CMSN_TRD_FL,ENTRD_VOL_QT,RPTD_PR,YLD_SIGN_CD,...,Maturity_d_Diff,Offer_d30,Offer_d60,Offer_d90,Mature_d90,YYYYQQ,RATING_MR,RATING_MR_Numeric,AMOUNT_OUTSTANDING,Vol_grt_out
0,62578083.0,T,RBS3706239,00077TAA2,CORP,N,NaN,10000.0,111.245,NaN,...,3391.0,1.0,1.0,1.0,NaN,2014-03-31,Ba1,11.0,148386.0,0.0
1,29290809.0,T,RBS3706239,00077TAA2,CORP,N,NaN,2000.0,113.389,NaN,...,3370.0,1.0,1.0,1.0,NaN,2014-03-31,Ba1,11.0,148386.0,0.0
2,42003778.0,T,RBS3706239,00077TAA2,CORP,N,C,5000.0,112.070,NaN,...,3398.0,1.0,1.0,1.0,NaN,2014-03-31,Ba1,11.0,148386.0,0.0
3,58207921.0,T,RBS3706239,00077TAA2,CORP,N,NaN,2000.0,112.640,NaN,...,3370.0,1.0,1.0,1.0,NaN,2014-03-31,Ba1,11.0,148386.0,0.0
4,63197725.0,T,RBS3706239,00077TAA2,CORP,N,NaN,10000.0,112.245,NaN,...,3406.0,1.0,1.0,1.0,NaN,2014-03-31,Ba1,11.0,148386.0,0.0

In [4]:
data.shape

(6323262, 59)

In [5]:
data[data['N'].duplicated(keep=False)]

,N,TRC_ST,BOND_SYM_ID,CUSIP_ID,SCRTY_TYPE_CD,WIS_CD,CMSN_TRD_FL,ENTRD_VOL_QT,RPTD_PR,YLD_SIGN_CD,...,Maturity_d_Diff,Offer_d30,Offer_d60,Offer_d90,Mature_d90,YYYYQQ,RATING_MR,RATING_MR_Numeric,AMOUNT_OUTSTANDING,Vol_grt_out
1084626,21547167.0,T,PGR.GG,743315AM5,CORP,N,NaN,35000.0,109.175,NaN,...,19252.0,1.0,1.0,1.0,NaN,2014-09-30,A2,6.0,677100.0,0.0
1084631,21547167.0,T,PGR.GG,743315AM5,CORP,N,NaN,35000.0,109.175,NaN,...,19252.0,1.0,1.0,1.0,NaN,2014-09-30,A2,6.0,632800.0,0.0
1648080,54468465.0,T,NRG.GV,629377BG6,CORP,N,NaN,7000.0,105.511,NaN,...,1955.0,1.0,1.0,1.0,NaN,2014-03-31,B1,14.0,700000.0,0.0
1648081,54468465.0,T,NRG.GV,629377BG6,CORP,N,NaN,7000.0,105.511,NaN,...,1955.0,1.0,1.0,1.0,NaN,2014-03-31,B1,14.0,298548.0,0.0
1648304,34711556.0,T,NRG.GV,629377BG6,CORP,N,NaN,100000.0,105.900,NaN,...,1955.0,1.0,1.0,1.0,NaN,2014-03-31,B1,14.0,700000.0,0.0
1648305,34711556.0,T,NRG.GV,629377BG6,CORP,N,NaN,100000.0,105.900,NaN,...,1955.0,1.0,1.0,1.0,NaN,2014-03-31,B1,14.0,298548.0,0.0
1648395,22816825.0,T,NRG.GV,629377BG6,CORP,N,NaN,25000.0,106.250,NaN,...,1954.0,1.0,1.0,1.0,NaN,2014-03-31,B1,14.0,298548.0,0.0
1648396,22816825.0,T,NRG.GV,629377BG6,CORP,N,NaN,25000.0,106.250,NaN,...,1954.0,1.0,1.0,1.0,NaN,2014-03-31,B1,14.0,607068.0,0.0
1648407,45271141.0,T,NRG.GV,629377BG6,CORP,N,NaN,100000.0,106.000,NaN,...,1955.0,1.0,1.0,1.0,NaN,2014-03-31,B1,14.0,700000.0,0.0
1648409,45271141.0,T,NRG.GV,629377BG6,CORP,N,NaN,100000.0,106.000,NaN,...,1955.0,1.0,1.0,1.0,NaN,2014-03-31,B1,14.0,298548.0,0.0
1648433,54796963.0,T,NRG.GV,629377BG6,CORP,N,NaN,10000.0,105.511,NaN,...,1954.0,1.0,1.0,1.0,NaN,2014-03-31,B1,14.0,298548.0,0.0
1648434,54796963.0,T,NRG.GV,629377BG6,CORP,N,NaN,10000.0,105.511,NaN,...,1954.0,1.0,1.0,1.0,NaN,2014-03-31,B1,14.0,607068.0,0.0
1648622,1606172.0,T,NRG.GV,629377BG6,CORP,N,NaN,50000.0,105.470,NaN,...,1955.0,1.0,1.0,1.0,NaN,2014-03-31,B1,14.0,700000.0,0.0
1648624,1606172.0,T,NRG.GV,629377BG6,CORP,N,NaN,50000.0,105.470,NaN,...,1955.0,1.0,1.0,1.0,NaN,2014-03-31,B1,14.0,298548.0,0.0
2898757,26164417.0,T,WIND.AA,337560AA4,C144A,N,NaN,530000.0,107.250,NaN,...,1522.0,1.0,1.0,1.0,NaN,2014-06-30,B3,16.0,230750.0,0.0
2898772,26164417.0,T,WIND.AA,337560AA4,C144A,N,NaN,530000.0,107.250,NaN,...,1522.0,1.0,1.0,1.0,NaN,2014-06-30,B3,16.0,155750.0,0.0
3075913,32149033.0,T,FSL3694758,35687MAX5,CORP,N,NaN,2000000.0,110.250,NaN,...,2145.0,1.0,1.0,1.0,NaN,2014-03-31,Caa1,17.0,738400.0,0.0
3075920,32149033.0,T,FSL3694758,35687MAX5,CORP,N,NaN,2000000.0,110.250,NaN,...,2145.0,1.0,1.0,1.0,NaN,2014-03-31,Caa1,17.0,379400.0,0.0

In [6]:
data.columns

Index(['N', 'TRC_ST', 'BOND_SYM_ID', 'CUSIP_ID', 'SCRTY_TYPE_CD', 'WIS_CD',
       'CMSN_TRD_FL', 'ENTRD_VOL_QT', 'RPTD_PR', 'YLD_SIGN_CD', 'YLD_PT',
       'ASOF_CD', 'TRD_EXCTN_DT', 'EXCTN_TM', 'TRD_RPT_DT', 'TRD_RPT_TM',
       'TRD_STLMT_DT', 'TRD_MDFR_LATE_CD', 'TRD_MDFR_SRO_CD', 'RPT_SIDE_CD',
       'BUY_CMSN_RT', 'BUY_CPCTY_CD', 'SELL_CMSN_RT', 'SELL_CPCTY_CD',
       'AGU_TRD_ID', 'ATS_FL', 'SPCL_PR_FL', 'TRDG_MKT_CD', 'DISSEM_FL',
       'SYSTM_CNTRL_DT', 'SYSTM_CNTRL_NB', 'PREV_TRD_CNTRL_DT',
       'PREV_TRD_CNTRL_NB', 'REC_CT_NB', 'Year', 'YYYYMM', 'SALE_CNDTN_CD',
       'SALE_CNDTN2_CD', 'PREV_REC_CT_NB', 'Report_Dealer_Index',
       'Contra_Party_Index', 'OFFERING_DATE', 'ISSUE_ID', 'MATURITY',
       'OFFERING_AMT', 'TRD_EXCTN_DT_D', 'EXCTN_TM_D', 'Affiliated',
       'Offer_d_Diff', 'Maturity_d_Diff', 'Offer_d30', 'Offer_d60',
       'Offer_d90', 'Mature_d90', 'YYYYQQ', 'RATING_MR', 'RATING_MR_Numeric',
       'AMOUNT_OUTSTANDING', 'Vol_grt_out'],
      dtype='object')

In [7]:
data.dtypes

N                             float64
TRC_ST                         object
BOND_SYM_ID                    object
CUSIP_ID                       object
SCRTY_TYPE_CD                  object
WIS_CD                         object
CMSN_TRD_FL                    object
ENTRD_VOL_QT                  float64
RPTD_PR                       float64
YLD_SIGN_CD                    object
YLD_PT                        float64
ASOF_CD                        object
TRD_EXCTN_DT                  float64
EXCTN_TM                      float64
TRD_RPT_DT                    float64
TRD_RPT_TM                    float64
TRD_STLMT_DT                  float64
TRD_MDFR_LATE_CD               object
TRD_MDFR_SRO_CD                object
RPT_SIDE_CD                    object
BUY_CMSN_RT                   float64
BUY_CPCTY_CD                   object
SELL_CMSN_RT                  float64
SELL_CPCTY_CD                  object
AGU_TRD_ID                     object
ATS_FL                         object
SPCL_PR_FL                     object
TRDG_MKT_CD                    object
DISSEM_FL                      object
SYSTM_CNTRL_DT                float64
SYSTM_CNTRL_NB                float64
PREV_TRD_CNTRL_DT             float64
PREV_TRD_CNTRL_NB             float64
REC_CT_NB                     float64
Year                          float64
YYYYMM                        float64
SALE_CNDTN_CD                  object
SALE_CNDTN2_CD                 object
PREV_REC_CT_NB                float64
Report_Dealer_Index           float64
Contra_Party_Index            float64
OFFERING_DATE          datetime64[ns]
ISSUE_ID                      float64
MATURITY               datetime64[ns]
OFFERING_AMT                  float64
TRD_EXCTN_DT_D         datetime64[ns]
EXCTN_TM_D                    float64
Affiliated                    float64
Offer_d_Diff                  float64
Maturity_d_Diff               float64
Offer_d30                     float64
Offer_d60                     float64
Offer_d90                     float64
Mature_d90                    float64
YYYYQQ                 datetime64[ns]
RATING_MR                      object
RATING_MR_Numeric             float64
AMOUNT_OUTSTANDING            float64
Vol_grt_out                   float64
dtype: object

In [8]:
def fix_time(x):
    """fix time that are < 6000 and return them to proper datetime
    NOTE:time<1000 will be consider to 00:00:00 currently
    NEED TO FIX THIS"""
    if int(x) < 6000:
        return '000000'
    else:
        return x
# Combine TRD_EXCTN_DT (date) and EXCTN_TM (time) to TRD_EXCTN_DTTM (datetime)
data['TRD_EXCTN_DTTM'] = pd.to_datetime(data['TRD_EXCTN_DT'].astype(int).astype(str)+' '+data['EXCTN_TM'].astype(int).astype(str).apply(fix_time),format='%Y%m%d %H%M%S', errors='coerce')
# Combine TRD_RPT_DT (date) and TRD_RPT_TM (time) to TRD_RPT_DTTM (datetime)
data['TRD_RPT_DTTM'] = pd.to_datetime(data['TRD_RPT_DT'].astype(int).astype(str)+' '+data['TRD_RPT_TM'].astype(int).astype(str).apply(fix_time),format='%Y%m%d %H%M%S', errors='coerce')
# Add document_date which is the date of transection
data['document_date'] = data['TRD_EXCTN_DTTM'].dt.date.apply(str)

In [9]:
# Fill missing values in Contra_Party_Index with 0 to represent client
data['Contra_Party_Index'] = data['Contra_Party_Index'].fillna(value=0)
data['Report_Dealer_Index'] = data['Report_Dealer_Index'].astype(int)
data['Contra_Party_Index'] = data['Contra_Party_Index'].astype(int)

In [10]:
def create_seller(RPT_SIDE_CD,Report_Dealer_Index,Contra_Party_Index):
    if RPT_SIDE_CD=='D':
        return str(Report_Dealer_Index)
    elif RPT_SIDE_CD=='B':
        return str(Contra_Party_Index)
    else:
        return str(Report_Dealer_Index)
def create_buyer(RPT_SIDE_CD,Report_Dealer_Index,Contra_Party_Index):
    if RPT_SIDE_CD=='D':
        return str(Contra_Party_Index)
    elif RPT_SIDE_CD=='S':
        return '99999'#str(Contra_Party_Index)
    else:
        return str(Report_Dealer_Index)

create_seller_vectorize = np.vectorize(create_seller)
create_buyer_vectorize = np.vectorize(create_buyer)
data['Seller_Index'] = create_seller_vectorize(data['RPT_SIDE_CD'].values,data['Report_Dealer_Index'].values,data['Contra_Party_Index'].values)
data['Buyer_Index'] = create_buyer_vectorize(data['RPT_SIDE_CD'].values,data['Report_Dealer_Index'].values,data['Contra_Party_Index'].values)
data['Report_Dealer_Index'] = data['Seller_Index'].values
data['Contra_Party_Index'] = data['Buyer_Index'].values
data['RPT_SIDE_CD'] = data['RPT_SIDE_CD'].str.replace('B','C',regex=False).str.replace('S','C',regex=False)

In [11]:
interested_cols = ['BOND_SYM_ID','CUSIP_ID','SCRTY_TYPE_CD','ENTRD_VOL_QT','RPTD_PR','RPT_SIDE_CD'\
                     ,'Year','TRD_EXCTN_DTTM','TRD_RPT_DTTM', 'Report_Dealer_Index'\
                     ,'Contra_Party_Index','TRC_ST','RATING_MR', 'RATING_MR_Numeric']

In [12]:
data = data[interested_cols]

In [13]:
data

,BOND_SYM_ID,CUSIP_ID,SCRTY_TYPE_CD,ENTRD_VOL_QT,RPTD_PR,RPT_SIDE_CD,Year,TRD_EXCTN_DTTM,TRD_RPT_DTTM,Report_Dealer_Index,Contra_Party_Index,TRC_ST,RATING_MR,RATING_MR_Numeric
0,RBS3706239,00077TAA2,CORP,10000.0,111.24500,D,2014.0,2014-01-31 10:40:23,2014-01-31 10:40:37,2048,2917,T,Ba1,11.0
1,RBS3706239,00077TAA2,CORP,2000.0,113.38900,C,2014.0,2014-02-21 11:19:41,2014-02-21 11:19:57,2614,99999,T,Ba1,11.0
2,RBS3706239,00077TAA2,CORP,5000.0,112.07000,C,2014.0,2014-01-24 15:19:50,2014-01-24 15:20:18,3513,99999,T,Ba1,11.0
3,RBS3706239,00077TAA2,CORP,2000.0,112.64000,D,2014.0,2014-02-21 11:19:41,2014-02-21 11:20:01,2048,2514,T,Ba1,11.0
4,RBS3706239,00077TAA2,CORP,10000.0,112.24500,D,2014.0,2014-01-16 13:41:11,2014-01-16 13:41:27,2048,2940,T,Ba1,11.0
5,RBS3706239,00077TAA2,CORP,5000.0,111.87000,D,2014.0,2014-01-24 15:19:45,2014-01-24 15:19:59,2048,3513,T,Ba1,11.0
6,RBS3706239,00077TAA2,CORP,11000.0,113.37000,C,2014.0,2014-01-23 10:35:22,2014-01-23 10:35:54,1156,99999,T,Ba1,11.0
7,RBS3706239,00077TAA2,CORP,100000.0,111.31700,C,2014.0,2014-01-15 15:04:52,2014-01-15 15:05:16,0,2446,T,Ba1,11.0
8,RBS3706239,00077TAA2,CORP,29000.0,111.74500,D,2014.0,2014-02-03 12:47:07,2014-02-03 12:47:16,2048,466,T,Ba1,11.0
9,RBS3706239,00077TAA2,CORP,10000.0,106.26600,C,2014.0,2014-01-29 09:52:27,2014-01-29 09:52:31,0,3534,T,Ba1,11.0
10,RBS3706239,00077TAA2,CORP,11000.0,111.87000,D,2014.0,2014-01-23 10:35:22,2014-01-23 10:35:33,2048,1156,T,Ba1,11.0
11,RBS3706239,00077TAA2,CORP,29000.0,112.12000,C,2014.0,2014-02-03 12:47:07,2014-02-03 12:51:14,466,99999,T,Ba1,11.0
12,RBS3706239,00077TAA2,CORP,2000.0,112.98900,D,2014.0,2014-02-21 11:19:41,2014-02-21 11:19:56,2514,2956,T,Ba1,11.0
13,RBS3706239,00077TAA2,CORP,2000.0,112.98900,D,2014.0,2014-02-21 11:19:41,2014-02-21 11:19:57,2956,2614,T,Ba1,11.0
14,RBS3706239,00077TAA2,CORP,10000.0,111.34500,C,2014.0,2014-01-31 10:40:23,2014-01-31 10:40:24,2917,99999,T,Ba1,11.0
15,RBS3706239,00077TAA2,CORP,10000.0,113.24500,C,2014.0,2014-01-16 14:01:16,2014-01-16 14:03:04,2555,99999,T,Ba1,11.0
16,RBS3706239,00077TAA2,CORP,10000.0,112.49500,D,2014.0,2014-01-16 14:01:16,2014-01-16 14:02:30,2940,2555,T,Ba1,11.0
17,RBS3706239,00077TAA2,CORP,10000.0,110.50100,C,2014.0,2014-04-11 14:02:22,2014-04-11 14:02:24,2614,99999,T,Ba2,12.0
18,RBS3706239,00077TAA2,CORP,10000.0,110.28000,D,2014.0,2014-03-31 10:26:38,2014-03-31 10:26:41,793,3,T,Ba2,12.0
19,RBS3706239,00077TAA2,CORP,20000.0,114.52417,C,2014.0,2014-04-03 12:56:00,2014-04-03 12:56:04,151,99999,T,Ba2,12.0
20,RBS3706239,00077TAA2,CORP,25000.0,110.96000,D,2014.0,2014-10-20 15:09:46,2014-10-20 15:09:48,793,2048,T,Ba2,12.0
21,RBS3706239,00077TAA2,CORP,5000.0,113.99900,C,2014.0,2014-07-09 10:09:58,2014-07-09 10:10:29,0,2770,T,Ba2,12.0
22,RBS3706239,00077TAA2,CORP,55000.0,119.55350,D,2014.0,2014-12-12 08:33:14,2014-12-12 08:33:24,2970,3279,T,Ba2,12.0
23,RBS3706239,00077TAA2,CORP,520000.0,114.11200,C,2014.0,2014-07-01 10:42:18,2014-07-01 10:42:44,3029,99999,T,Ba2,12.0
24,RBS3706239,00077TAA2,CORP,240000.0,113.40800,C,2014.0,2014-07-10 13:59:47,2014-07-10 13:59:57,0,2048,T,Ba2,12.0
25,RBS3706239,00077TAA2,CORP,10000.0,111.40100,C,2014.0,2014-04-14 09:28:42,2014-04-14 09:29:54,1794,99999,T,Ba2,12.0
26,RBS3706239,00077TAA2,CORP,10000.0,114.50000,D,2014.0,2014-08-04 10:13:48,2014-08-04 10:13:59,2614,2956,T,Ba2,12.0
27,RBS3706239,00077TAA2,CORP,44000.0,115.21374,C,2014.0,2014-04-07 14:10:00,2014-04-07 14:10:49,151,99999,T,Ba2,12.0
28,RBS3706239,00077TAA2,CORP,25000.0,110.36000,C,2014.0,2014-10-20 15:09:46,2014-10-20 15:09:49,0,793,T,Ba2,12.0
29,RBS3706239,00077TAA2,CORP,30000.0,107.76400,D,2014.0,2014-04-01 13:05:55,2014-04-01 13:06:01,3086,844,T,Ba2,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6323232,MTB4146638,55279HAG5,CORP,2000.0,100.17500,D,2014.0,2014-11-25 15:27:39,2014-11-25 15:28:09,2850,1321,T,NR,NaN
6323233,MTB4146638,55279HAG5,CORP,5000.0,99.32500,D,2014.0,2014-09-25 14:51:25,2014-09-25 14:52:24,1451,1403,T,NR,NaN
6323234,MTB4146638,55279HAG5,CORP,2000.0,99.22000,D,2014.0,2014-09-22 13:46:46,2014-09-22 13:47:58,1451,1403,T,NR,NaN
6323235,MTB4146638,55279HAG5,CORP,250000.0,99.66700,D,2014.0,2014-09-25 10:00:13,2014-09-25 10:03:41,153,2285,T,NR,NaN
6323236,MTB4146638,55279HAG5,CORP,6000.0,99.66700,D,2014.0,2014-12-17 16:21:38,2014-12-17 16:54:11,3277,2048,R,NR,NaN
6323237,MTB4146638,55279HAG5,CORP,10000.0,100.44500,D,2014.0,2014-10-09 14:56:35,2014-10-09 14:56:36,1321,2850,T,NR,NaN
6323238,MTB4146638,55279HAG5,CORP,3000.0,99.39600,D,2014.0,2014-09-23 14:18:06,2014-09-23 14:18:07,3277,2850,T,NR,NaN
6323239,MTB4146638,55279HAG5,CORP,35000.0,101.00000,D,2014.0,2014-10-14 16:20:54,2014-10-14 16:20:55,3517,2850,T,NR,NaN
6323240,MTB4146638,55279HAG5,CORP,100000.0,99.65000,D,2014.0,2014-09-25 09:44:38,2014-09-25 09:45:37,1321,2912,T,NR,NaN
6323241,MTB4146638,55279HAG5,CORP,3000.0,98.22000,D,2014.0,2014-09-23 16:06:02,2014-09-23 16:07:07,1216,2940,T,NR,NaN
6323242,MTB4146638,55279HAG5,CORP,10000.0,100.44500,D,2014.0,2014-10-09 14:56:28,2014-10-09 14:56:46,2850,3048,T,NR,NaN
6323243,MTB4146638,55279HAG5,CORP,3000.0,101.00000,D,2014.0,2014-10-14 16:25:19,2014-10-14 16:25:20,3517,3048,T,NR,NaN
6323244,MTB4146638,55279HAG5,CORP,75000.0,99.73690,D,2014.0,2014-09-17 15:50:38,2014-09-17 15:50:56,140,3029,T,NR,NaN
6323245,MTB4146638,55279HAG5,CORP,3000.0,98.94500,D,2014.0,2014-09-23 14:12:27,2014-09-23 14:13:26,2940,3277,T,NR,NaN
6323246,MTB4146638,55279HAG5,CORP,2000.0,98.92200,D,2014.0,2014-09-17 10:53:46,2014-09-17 10:53:47,2912,3277,T,NR,NaN
6323247,MTB4146638,55279HAG5,CORP,4000.0,99.30100,D,2014.0,2014-11-14 10:42:29,2014-11-14 10:43:23,1451,3277,T,NR,NaN
6323248,MTB4146638,55279HAG5,CORP,2000.0,98.75700,D,2014.0,2014-12-19 14:02:17,2014-12-19 14:02:42,1451,3277,T,NR,NaN
6323249,MTB4146638,55279HAG5,CORP,2000.0,99.28800,D,2014.0,2014-11-19 13:19:25,2014-11-19 13:20:16,1451,3277,T,NR,NaN
6323250,MTB4146638,55279HAG5,CORP,4000.0,99.42000,D,2014.0,2014-10-31 13:54:04,2014-10-31 13:54:55,1451,3277,T,NR,NaN
6323251,MTB4146638,55279HAG5,CORP,3000.0,99.29400,D,2014.0,2014-11-12 14:51:48,2014-11-12 14:52:24,1451,3277,T,NR,NaN
6323252,MTB4146638,55279HAG5,CORP,390000.0,100.75200,D,2014.0,2014-10-21 12:51:06,2014-10-21 12:51:21,2850,3517,T,NR,NaN
6323253,MTB4146638,55279HAG5,CORP,2000.0,99.60100,D,2014.0,2014-12-22 12:16:38,2014-12-22 12:16:39,3277,3509,T,NR,NaN
6323254,MTB4146637,55279HAH3,CORP,12380000.0,100.18000,C,2014.0,2014-09-12 11:15:13,2014-09-12 11:15:18,2446,99999,T,NR,NaN
6323255,MTB4146637,55279HAH3,CORP,1000000.0,99.86900,C,2014.0,2014-11-14 12:24:26,2014-11-14 12:24:26,776,99999,T,NR,NaN
6323256,MTB4146637,55279HAH3,CORP,1000000.0,99.89240,C,2014.0,2014-10-03 08:56:38,2014-10-03 08:56:42,0,776,T,NR,NaN
6323257,MTB4146637,55279HAH3,CORP,1100000.0,99.66300,C,2014.0,2014-12-03 15:25:45,2014-12-03 15:25:46,0,916,T,NR,NaN
6323258,MTB4146637,55279HAH3,CORP,250000.0,99.35600,C,2014.0,2014-12-18 11:25:56,2014-12-18 11:25:57,0,916,T,NR,NaN
6323259,MTB4146637,55279HAH3,CORP,4000000.0,99.99800,C,2014.0,2014-11-06 14:06:39,2014-11-06 14:08:24,0,1438,T,NR,NaN
6323260,MTB4146637,55279HAH3,CORP,890000.0,100.02670,C,2014.0,2014-08-27 14:22:54,2014-08-27 14:33:10,0,2446,T,NR,NaN
6323261,MTB4146637,55279HAH3,CORP,10000000.0,100.15100,C,2014.0,2014-09-09 15:31:10,2014-09-09 15:31:18,0,2446,T,NR,NaN

In [14]:
data['price'] = (data['ENTRD_VOL_QT'] * data['RPTD_PR'])/100

In [15]:
data['price'].describe()

count    6.323262e+06
mean     6.073740e+05
std      2.391643e+06
min      0.000000e+00
25%      1.103970e+04
50%      3.379530e+04
75%      2.457833e+05
max      1.154484e+09
Name: price, dtype: float64

In [16]:
from compute_lda import *

/home/raymond/anaconda3/envs/topicModeling/lib/python3.7/site-packages/smart_open/ssh.py:34: UserWarning: paramiko missing, opening SSH/SCP/SFTP paths will be disabled.  `pip install paramiko` to suppress
  warnings.warn('paramiko missing, opening SSH/SCP/SFTP paths will be disabled.  `pip install paramiko` to suppress')